@charset "UTF-8";

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #1ADCCC;
}
h1{
    color:#DB1AC4;
    background-color: #5C3958;
}
#principal{
    background-color: #5C5539;
    color: #DBB512;
    text-align: center;

}
h2{
    color: #0000ff;
}
p{
    text-align: justify;
    text-indent: 30px;
}
.basico{
    color: #008000;

}
.intermediario{
 color: #ffff00;
}
.avancado{
    color: #ff0000;

}